########################################################################################################################
# Happy Hare MMU Software
#
# EDIT THIS FILE BASED ON YOUR SETUP
#
# Copyright (C) 2022-2025  moggieuk#6538 (discord)
#                          moggieuk@hotmail.com
# This file may be distributed under the terms of the GNU GPLv3 license.
#
# Goal: Happy Hare MMU hardware pin config
#
# (\_/)
# ( *,*)
# (")_(") Happy Hare Ready
#
#
# This contains aliases for pins for MCU type EBB42_12
#
#[mcu mmu]
#serial: /dev/serial/by-id/XXX	# Change to `canbus_uuid: 1234567890` for CANbus setups


# PIN ALIASES FOR MMU MCU BOARD ----------------------------------------------------------------------------------------
# ██████╗ ██╗███╗   ██╗     █████╗ ██╗     ██╗ █████╗ ███████╗
# ██╔══██╗██║████╗  ██║    ██╔══██╗██║     ██║██╔══██╗██╔════╝
# ██████╔╝██║██╔██╗ ██║    ███████║██║     ██║███████║███████╗
# ██╔═══╝ ██║██║╚██╗██║    ██╔══██║██║     ██║██╔══██║╚════██║
# ██║     ██║██║ ╚████║    ██║  ██║███████╗██║██║  ██║███████║
# ╚═╝     ╚═╝╚═╝  ╚═══╝    ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝
# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS. The names match those
# referenced in the mmu_hardware.cfg file. If you get into difficulty you can also comment out this aliases definition
# completely and configure the pin names directly into mmu_hardware.cfg. However, use of aliases is encouraged.

# Note: that aliases are not created for TOOLHEAD_SENSOR, EXTRUDER_SENSOR or SYNC_FEEDBACK_SENSORS because those are
# most likely on the printer's main mcu. These should be set directly in mmu_hardware.cfg
#

[mcu mmu0]
#canbus_uuid: 0ed093a83a06
canbus_uuid: 6f2631e4346b

[mcu mmu1]
#canbus_uuid: faf5d3e80da4
canbus_uuid: db4de26e31c4

[mcu mmu2]
#canbus_uuid: 2fcd4cbbd6b3
canbus_uuid: 28679fd96d17 

[mcu mmu3]
#canbus_uuid: 5a4df68893a5
canbus_interface: aa1b2ad500d7

[mcu mmu4]
#canbus_uuid: 1d02f7e60ed9
canbus_uuid: ec59b1cd44a7

[board_pins mmu]
mcu: mmu0, mmu1, mmu2, mmu3, mmu4
aliases:
    MMU_GEAR_UART=PA15,
    MMU_GEAR_STEP=PD0,
    MMU_GEAR_DIR=PD1,
    MMU_GEAR_ENABLE=PD2,
    MMU_GEAR_DIAG=,

    MMU_NEOPIXEL=PD3,
    MMU_NEOPIXEL_LOGO=,

    MMU_PRE_GATE=PB7,
    MMU_POST_GEAR=PB5,

    MMU_TENSION=PB9,
    MMU_COMPRESSION=PB8,

    MMU_TH=PA3,

    MMU_FAN=PA0,

    EJECT_BUTTON=PB6,

